@model IEnumerable<HRPaver_Social_Media.Models.PostViewModel>

@{
    ViewBag.Title = "detail";
    var Id = ViewBag.Id;
    var groupType = ViewBag.GroupType;
}

<h2>@ViewBag.GroupName</h2>

@if (groupType != 4)
{


    Html.RenderPartial("Create", new HRPaver_Social_Media.Models.PostViewModel(true));
   
    foreach (var post in Model)
    {
        <hr>
        <div id="insert"></div>
        <div>
            <div class="row" id="feed">
                @if (!String.IsNullOrEmpty(post.AuthorPhotoFileName))
                {
                    <div class="col-md-2"><img src="@post.AuthorPhotoFileName" class="img-circle" width="75" height="75" /></div>
                }
                else
                {
                    <div class="col-md-2"><img src="http://packetcode.com/apps/wall-design/image.jpg" class="img-circle" alt="Profile Picture Missing" width="75" height="75" /></div>
                }
                <div class="col-md-10">
                    <div>
                        <label>
                            @if (post.UserAnonymous)
                            {
                                @post.Author
                            }
                            else
                            {
                                <a onclick="location.href='@Url.Action("ViewProfile", "Home", new { id = post.AuthorId })'">@post.Author</a>
                            }
                            @if (!String.IsNullOrEmpty(post.GroupName))
                            { <text>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;on&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</text> @post.GroupName }
                        </label>
                    </div>
                    <div> <p class="taskDescription">@post.PostText</p><span class="date sub-text">on @post.PostTime.ToString("MMMM dd, yyyy HH:mm")</span></div>
                    <div class="pull-right">Páver rating: @post.Rateing<a href="/Home/UpVotePost/@post.Id" title="Páver Up"><span class="glyphicon glyphicon-arrow-up"></span></a><a href="/Home/DownVotePost/@post.Id" title="Páver Down"><span class="glyphicon glyphicon-arrow-down"></span></a></div>
                </div>
            </div>
        </div>
        <br>

        <div class="actionBox well well-sm">
            <ul class="commentList">
                @foreach (var comment in post.Replies)
                {
                    <li>
                        <div class="commenterImage">
                            @if (!String.IsNullOrEmpty(comment.AuthorPhotoFileName))
                            {
                                <img src="@comment.AuthorPhotoFileName" width="30" height="30" />
                            }
                            else
                            {
                                <img src="http://lorempixel.com/50/50/people/6" width="30" height="30" />
                            }
                        </div>
                        <div class="commentText">
                            <label>
                                @if (comment.UserAnonymous)
                                {
                                    @comment.Author
                                }
                                else
                                {
                                    <a onclick="location.href='@Url.Action("ViewProfile", "Home", new { id = comment.AuthorId })'">@comment.Author</a>
                                }
                            </label>
                            <p class="">@comment.PostText</p> <span class="date sub-text">on @comment.PostTime.ToString("MMMM dd, yyyy HH:mm")</span>
                        </div>
                    </li>
                }
            </ul>
            @using (Html.BeginForm("AddComment", "Group", FormMethod.Post, new { id = "sendcomment" }))
            {

                <input type="hidden" name="postId" value="@post.Id" />
                <input type="hidden" name="groupId" value="@ViewBag.Id">
                <label class="sr-only" for="commenttext">Comment</label>
                <div class="input-group  style=" width 80%;"">
                <input class="form-control input-group-lg" id="commenttext" name="commenttext" placeholder="Comment on this post..." ;>
                <span class="input-group-btn">
                     <button type="submit" class="btn btn-primary pull-right" id="bootButtonOverwrite">Add</button>
                </span>
            </div>
                @Html.ValidationSummary(false)
            }
        </div>
    }
}
else
{
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#tab_a" data-toggle="tab">Wall</a></li>
            <li role="presentation"><a href="#tab_b" data-toggle="tab">Q/A</a></li>
        </ul>
    </div>
    
    <div class="row">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_a">
                @{
    Html.RenderPartial("Create", new HRPaver_Social_Media.Models.PostViewModel(true));
                }
                @foreach (var post in Model)
                {
                    if (post.StatusOrQuestion == true)
                    {
                        <hr>
                        <div id="insert"></div>
                        <div>
                            <div class="row" id="feed">
                                @if (!String.IsNullOrEmpty(post.AuthorPhotoFileName))
                                {
                                    <div class="col-md-2"><img src="@post.AuthorPhotoFileName" class="img-circle" width="75" height="75" /></div>
                                }
                                else
                                {
                                    <div class="col-md-2"><img src="http://packetcode.com/apps/wall-design/image.jpg" class="img-circle" alt="Profile Picture Missing" width="75" height="75" /></div>
                                }
                                <div class="col-md-10">
                                    <div>
                                        <label>
                                            @if (post.UserAnonymous)
                                            {
                                                @post.Author
                                            }
                                            else
                                            {
                                                <a onclick="location.href='@Url.Action("ViewProfile", "Home", new { id = post.AuthorId })'">@post.Author</a>
                                            }
                                            @if (!String.IsNullOrEmpty(post.GroupName))
                                            { <text>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;on&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</text> @post.GroupName }
                                        </label>
                                    </div>
                                    <div> <p class="taskDescription">@post.PostText</p><span class="date sub-text">on @post.PostTime.ToString("MMMM dd, yyyy HH:mm")</span></div>
                                    <div class="pull-right">Páver rating: @post.Rateing<a href="/Home/UpVotePost/@post.Id" title="Páver Up"><span class="glyphicon glyphicon-arrow-up"></span></a><a href="/Home/DownVotePost/@post.Id" title="Páver Down"><span class="glyphicon glyphicon-arrow-down"></span></a></div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="actionBox well well-sm">
                            <ul class="commentList">
                                @foreach (var comment in post.Replies)
                                {
                                    <li>
                                        <div class="commenterImage">
                                            @if (!String.IsNullOrEmpty(comment.AuthorPhotoFileName))
                                            {
                                                <img src="@comment.AuthorPhotoFileName" width="30" height="30" />
                                            }
                                            else
                                            {
                                                <img src="http://lorempixel.com/50/50/people/6" width="30" height="30" />
                                            }
                                        </div>
                                        <div class="commentText">
                                            <label>
                                                @if (comment.UserAnonymous)
                                                {
                                                    @comment.Author
                                                }
                                                else
                                                {
                                                    <a onclick="location.href='@Url.Action("ViewProfile", "Home", new { id = comment.AuthorId })'">@comment.Author</a>
                                                }
                                        </label>
                                        <p class="">@comment.PostText</p> <span class="date sub-text">on @comment.PostTime.ToString("MMMM dd, yyyy HH:mm")</span>
                                    </div>
                                </li>
                                }
                            </ul>
                            @using (Html.BeginForm("AddComment", "Group", FormMethod.Post, new { id = "sendcomment" }))
                            {

                                <input type="hidden" name="postId" value="@post.Id" />
                                <input type="hidden" name="groupId" value="@ViewBag.Id">
                                <label class="sr-only" for="commenttext">Comment</label>
                                <div class="input-group  style=" width 80%;"">
                                <input class="form-control input-group-lg" id="commenttext" name="commenttext" placeholder="Comment on this post..." ;>
                                <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary pull-right" id="bootButtonOverwrite">Add</button>
                                </span>
                            </div>
                                @Html.ValidationSummary(false)
                            }
                        </div>
                    }
                }

            </div>



            <div class="tab-pane" id="tab_b">

                @{

    Html.RenderPartial("Create", new HRPaver_Social_Media.Models.PostViewModel(false));

                }

                @foreach (var post in Model)
                {
                    if (post.StatusOrQuestion == false)
                    {
                        <hr>
                        <div id="insert"></div>
                        <div>
                            <div class="row" id="feed">
                                @if (!String.IsNullOrEmpty(post.AuthorPhotoFileName))
                                {
                                    <div class="col-md-2"><img src="@post.AuthorPhotoFileName" class="img-circle" width="75" height="75" /></div>
                                }
                                else
                                {
                                    <div class="col-md-2"><img src="http://packetcode.com/apps/wall-design/image.jpg" class="img-circle" alt="Profile Picture Missing" width="75" height="75" /></div>
                                }
                                <div class="col-md-10">
                                    <div>
                                        <label>
                                            @if (post.UserAnonymous)
                                            {
                                                @post.Author
                                            }
                                            else
                                            {
                                                <a onclick="location.href='@Url.Action("ViewProfile", "Home", new { id = post.AuthorId })'">@post.Author</a>
                                            }
                                            @if (!String.IsNullOrEmpty(post.GroupName))
                                            { <text>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;on&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</text> @post.GroupName }
                                        </label>
                                    </div>
                                    <div> <p class="taskDescription">@post.PostText</p><span class="date sub-text">on @post.PostTime.ToString("MMMM dd, yyyy HH:mm")</span></div>
                                    <div class="pull-right">Páver rating: @post.Rateing<a href="/Home/UpVotePost/@post.Id" title="Páver Up"><span class="glyphicon glyphicon-arrow-up"></span></a><a href="/Home/DownVotePost/@post.Id" title="Páver Down"><span class="glyphicon glyphicon-arrow-down"></span></a></div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="actionBox well well-sm">
                            <ul class="commentList">
                                @foreach (var comment in post.Replies)
                                {
                                    <li>
                                        <div class="commenterImage">
                                            @if (!String.IsNullOrEmpty(comment.AuthorPhotoFileName))
                                            {
                                                <img src="@comment.AuthorPhotoFileName" width="30" height="30" />
                                            }
                                            else
                                            {
                                                <img src="http://lorempixel.com/50/50/people/6" width="30" height="30" />
                                            }
                                        </div>
                                        <div class="commentText">
                                            <label>
                                                @if (comment.UserAnonymous)
                                                {
                                                    @comment.Author
                                                }
                                                else
                                                {
                                                    <a onclick="location.href='@Url.Action("ViewProfile", "Home", new { id = comment.AuthorId })'">@comment.Author</a>
                                                }
                                            </label>
                                            <p class="">@comment.PostText</p> <span class="date sub-text">on @comment.PostTime.ToString("MMMM dd, yyyy HH:mm")</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                            @using (Html.BeginForm("AddComment", "Group", FormMethod.Post, new { id = "sendcomment" }))
                            {

                                <input type="hidden" name="postId" value="@post.Id" />
                                <input type="hidden" name="groupId" value="@ViewBag.Id">
                                <label class="sr-only" for="commenttext">Comment</label>
                                <div class="input-group  style=" width 80%;"">
                                    <input class="form-control input-group-lg" id="commenttext" name="commenttext" placeholder="Comment on this post..." ;>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary pull-right" id="bootButtonOverwrite">Add</button>
                                    </span>
                                </div>
                                @Html.ValidationSummary(false)
                            }
                        </div>
                    }
                }

            </div>
        </div>
    </div>
}
